In [3]:
import pandas as pd

In [6]:
df = pd.read_csv('D:\Projects\car_price.csv')
df

,make_model,body_type,Body Color,km,hp,Gearing Type,Extras,price
0,Audi A1,Sedans,Black,56013,85,Automatic,"Alloy wheels,Catalytic Converter,Voice Control",15770
1,Audi A1,Sedans,Red,80000,85,Automatic,"Alloy wheels,Sport seats,Sport suspension,Voic...",14500
2,Audi A1,Sedans,Black,83450,85,Automatic,"Alloy wheels,Voice Control",14640
3,Audi A1,Sedans,Brown,73000,85,Automatic,"Alloy wheels,Sport seats,Voice Control",14500
4,Audi A1,Sedans,Black,16200,85,Automatic,"Alloy wheels,Sport package,Sport suspension,Vo...",16790
...,...,...,...,...,...,...,...,...
4795,Audi A3,Sedans,White,54,85,Manual,"Alloy wheels,Sport seats,Sport suspension,Voic...",25000
4796,Audi A3,Sedans,White,50,85,Manual,Alloy wheels,24980
4797,Audi A3,Station wagon,Silver,6666,85,Manual,"Alloy wheels,Roof rack",24980
4798,Audi A3,Sedans,Silver,10,85,Manual,"Alloy wheels,Roof rack",24980
4799,Audi A3,Sedans,Silver,10,85,Manual,"Alloy wheels,Roof rack",24980

In [7]:
df.columns

Index(['make_model', 'body_type', 'Body Color', 'km', 'hp', 'Gearing Type',
       'Extras', 'price'],
      dtype='object')

In [8]:
type(df)

pandas.core.frame.DataFrame

In [10]:
df = pd.read_csv('D:\Projects\car_price.csv', nrows= 2)
df

,make_model,body_type,Body Color,km,hp,Gearing Type,Extras,price
0,Audi A1,Sedans,Black,56013,85,Automatic,"Alloy wheels,Catalytic Converter,Voice Control",15770
1,Audi A1,Sedans,Red,80000,85,Automatic,"Alloy wheels,Sport seats,Sport suspension,Voic...",14500

In [11]:
df = pd.read_csv('D:\Projects\car_price.csv', usecols = [3])
df

         km
0     56013
1     80000
2     83450
3     73000
4     16200
...     ...
4795     54
4796     50
4797   6666
4798     10
4799     10

[4800 rows x 1 columns]

In [12]:
df = pd.read_csv('D:\Projects\car_price.csv', skiprows= 2)
df

,Audi A1,Sedans,Red,80000,85,Automatic,"Alloy wheels,Sport seats,Sport suspension,Voice Control",14500
0,Audi A1,Sedans,Black,83450,85,Automatic,"Alloy wheels,Voice Control",14640
1,Audi A1,Sedans,Brown,73000,85,Automatic,"Alloy wheels,Sport seats,Voice Control",14500
2,Audi A1,Sedans,Black,16200,85,Automatic,"Alloy wheels,Sport package,Sport suspension,Vo...",16790
3,Audi A1,Sedans,White,63668,85,Automatic,"Alloy wheels,Sport package,Sport seats,Sport s...",15090
4,Audi A1,Station wagon,White,62111,85,Automatic,"Alloy wheels,Sport package,Sport seats,Sport s...",16422
...,...,...,...,...,...,...,...,...
4793,Audi A3,Sedans,White,54,85,Manual,"Alloy wheels,Sport seats,Sport suspension,Voic...",25000
4794,Audi A3,Sedans,White,50,85,Manual,Alloy wheels,24980
4795,Audi A3,Station wagon,Silver,6666,85,Manual,"Alloy wheels,Roof rack",24980
4796,Audi A3,Sedans,Silver,10,85,Manual,"Alloy wheels,Roof rack",24980
4797,Audi A3,Sedans,Silver,10,85,Manual,"Alloy wheels,Roof rack",24980

In [14]:
df = pd.read_csv('D:\Projects\car_price.csv', skiprows= [2])
df

,make_model,body_type,Body Color,km,hp,Gearing Type,Extras,price
0,Audi A1,Sedans,Black,56013,85,Automatic,"Alloy wheels,Catalytic Converter,Voice Control",15770
1,Audi A1,Sedans,Black,83450,85,Automatic,"Alloy wheels,Voice Control",14640
2,Audi A1,Sedans,Brown,73000,85,Automatic,"Alloy wheels,Sport seats,Voice Control",14500
3,Audi A1,Sedans,Black,16200,85,Automatic,"Alloy wheels,Sport package,Sport suspension,Vo...",16790
4,Audi A1,Sedans,White,63668,85,Automatic,"Alloy wheels,Sport package,Sport seats,Sport s...",15090
...,...,...,...,...,...,...,...,...
4794,Audi A3,Sedans,White,54,85,Manual,"Alloy wheels,Sport seats,Sport suspension,Voic...",25000
4795,Audi A3,Sedans,White,50,85,Manual,Alloy wheels,24980
4796,Audi A3,Station wagon,Silver,6666,85,Manual,"Alloy wheels,Roof rack",24980
4797,Audi A3,Sedans,Silver,10,85,Manual,"Alloy wheels,Roof rack",24980
4798,Audi A3,Sedans,Silver,10,85,Manual,"Alloy wheels,Roof rack",24980

In [15]:
df = pd.read_csv('D:\Projects\car_price.csv', skiprows= [3,4,5])
df

,make_model,body_type,Body Color,km,hp,Gearing Type,Extras,price
0,Audi A1,Sedans,Black,56013,85,Automatic,"Alloy wheels,Catalytic Converter,Voice Control",15770
1,Audi A1,Sedans,Red,80000,85,Automatic,"Alloy wheels,Sport seats,Sport suspension,Voic...",14500
2,Audi A1,Sedans,White,63668,85,Automatic,"Alloy wheels,Sport package,Sport seats,Sport s...",15090
3,Audi A1,Station wagon,White,62111,85,Automatic,"Alloy wheels,Sport package,Sport seats,Sport s...",16422
4,Audi A1,Compact,Red,14986,85,Automatic,Alloy wheels,14480
...,...,...,...,...,...,...,...,...
4792,Audi A3,Sedans,White,54,85,Manual,"Alloy wheels,Sport seats,Sport suspension,Voic...",25000
4793,Audi A3,Sedans,White,50,85,Manual,Alloy wheels,24980
4794,Audi A3,Station wagon,Silver,6666,85,Manual,"Alloy wheels,Roof rack",24980
4795,Audi A3,Sedans,Silver,10,85,Manual,"Alloy wheels,Roof rack",24980
4796,Audi A3,Sedans,Silver,10,85,Manual,"Alloy wheels,Roof rack",24980

In [16]:
df = pd.read_csv('D:\Projects\car_price.csv', index_col = 'make_model')
df

,body_type,Body Color,km,hp,Gearing Type,Extras,price
make_model,,,,,,,
Audi A1,Sedans,Black,56013,85,Automatic,"Alloy wheels,Catalytic Converter,Voice Control",15770
Audi A1,Sedans,Red,80000,85,Automatic,"Alloy wheels,Sport seats,Sport suspension,Voic...",14500
Audi A1,Sedans,Black,83450,85,Automatic,"Alloy wheels,Voice Control",14640
Audi A1,Sedans,Brown,73000,85,Automatic,"Alloy wheels,Sport seats,Voice Control",14500
Audi A1,Sedans,Black,16200,85,Automatic,"Alloy wheels,Sport package,Sport suspension,Vo...",16790
...,...,...,...,...,...,...,...
Audi A3,Sedans,White,54,85,Manual,"Alloy wheels,Sport seats,Sport suspension,Voic...",25000
Audi A3,Sedans,White,50,85,Manual,Alloy wheels,24980
Audi A3,Station wagon,Silver,6666,85,Manual,"Alloy wheels,Roof rack",24980
Audi A3,Sedans,Silver,10,85,Manual,"Alloy wheels,Roof rack",24980
Audi A3,Sedans,Silver,10,85,Manual,"Alloy wheels,Roof rack",24980